:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
}

body {
  font-size: 16px; /* 1rem = 10px*/
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}

.navegacion-principal {
  width: 120rem;
  margin: 0 auto;
  padding: 1rem;
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal a {
  color: white;
  text-decoration: none;
}