:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #fff07c;
  --secundario: #3f84e5;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px*/
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1, h2, h3 {
  text-align: center;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
}

@media (min-width: 768px) {
    .boton {
      width: auto;
    }
}

.titulo span {
  font-size: 2rem;
}

.navegacion-principal {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  display: block;
  text-align: center;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  position: relative;
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.ubicacion {
  display: flex;
  align-items: flex-end;
}

