:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #fff07c;
  --secundario: #3f84e5;
  --gris: #757575;
}

html {
  font-size: 62.5%;
  font-family: 'Krub', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px*/
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
}

.titulo span {
  font-size: 2rem;
}

.navegacion-principal {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  display: block;
  text-align: center;
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
}